# Data Science Tools and Ecosystem

### Introduction  
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
* List popular languages for Data Science
* List Data Science lirearies
* List Data Science tools
* Try out arithemetic expressions
* Understand how jupyter notebooks work

### Data Science Languages  
Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. SQL
4. Scala
5. C++

### Data Science Libraries  
Some of the commonly used libraries by Data Scientists include:  
1. Pandas
2. Scipy
3. Numpy

### Table of Data Science Tools. 

| Data Science Tools |
|--------------------|
| Apache Spark |
| Jupyter |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author  

Gideon Ithenumah